<link href="style/stylesheet.css" rel="stylesheet" type="text/css">

<form method="post" action="{$form_action}">

 <table align="center" width="650">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="rowHover"><div align="center">{$error_install_version_to_old_titel}</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>  
  <tr>
    <td>
    
  <tr>
    <td class="row1"><div align="center">{$error_install_version_to_old_text}</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>
	  <div align="center">
		<input type="submit" name="submit" value="{$bd_submit}">
	  </div>
	</td>
  </tr>
 </table>  

</form>
