<form method="post" action="{$form_action}">

{$select_lang}: <select name="classlang_type">
{html_options values=$classlang_type_values selected=$classlang_type_selected output=$classlang_type_values}
</select>

 <table align="center" width="600">
  <tr>
   <td><div align="center"><b>{$headtitle}</b></div></td>
  </tr>
  <tr>
   <td>&nbsp;
    <tr>
	<td>
	  <div align="center">
		<select name="allfoundbridges" size = "5" class="post">
		 {html_options values=$bridge_type_values selected=$bridge_type_selected output=$bridge_type_output}
		</select>
	  </div>
	</td>
  </tr>
  <tr>
	<td><div align="center"><input type="submit" name="scan" value="{$bd_scan}" /></div></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">
      <input type="submit" name="submit" value="{$bd_submit}" />
      <input type="hidden" name="step" value="1" />
    </div></td>
  </tr>
 </table>  

</form>
